.vcard
  img.photo.hidden-phone(src='http://0.gravatar.com/avatar/bbe4f374067b9f82efddc49721f3151d.png')
  br.hidden-phone
  h3.fn.hidden Pere Majoral
  .org.hidden RedMallorca.com
  a.url(href='http://pere.majoral.es')
    i.icon-globe
    | http://pere.majoral.es
  br
  .tel
    i.icon-user
    | +34 668803212
  a.email.id
    i.icon-envelope
    | &#x70;&#x65;&#x72;&#101;&#x40;&#x6d;&#97;&#106;&#111;&#114;&#x61;&#108;&#x2e;&#101;&#115;

  .hidden-phone
    br
    hr
    a(href='http://dl.majoral.es/Pere-Majoral.vcf')
      img(src='http://dl.majoral.es/img/vcard.png', alt='vCard Pere Majoral')
      i.icon-download
      | Descargar vCard
    p
      img(src='http://dl.majoral.es/img/qr-code.png', alt='QR')
    hr
    .adr
      .street-address Apartado Correos 753
      span.locality Palma de Mallorca
      br
      span.postal-code 07080
      span.region Illes Balears
      br
      .country-name ESPAÑA
